body{
    text-align: center;
    overflow: auto;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: #d95980;
}
.yellow{
    background-color: #f99b45;
}
.purple{
    background-color: #819ff9;
}
.green{
    background-color: #63aac0;
}
.flash{
    background-color: white;
}
@media(max-width:510px){
    .btn{
        height: 150px;
        width: 150px;
        margin: 0.5rem;
    }
}